<filesMatch "\.(html|htm|js|css|jpeg)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Thu, 16 Jul 2015 01:00:00 GMT"
  </ifModule>
</filesMatch>
